<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">Date</th>
      <th scope="col">Entity Name</th>
      <th scope="col">Task Type</th>
      <th scope="col">Contact Person</th>
      <th scope="col">Notes</th>
      <th scope="col">Status</th>
      <th scope="col">Options</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of tasks">
      <td>{{ task.task_time | date : "medium" }}</td>
      <td>{{ task.entity_name }}</td>
      <td>{{ task.task_type }}</td>
      <td>{{ task.contact_person }}</td>
      <td>{{ task.note }}</td>
      <td>{{ task.status }}</td>
      <td>
        <div class="dropdown">
          <button
            class="btn btn-secondary btn-sm dropdown-toggle"
            type="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Options
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" (click)="startEdit(task)">Edit</a></li>
            <li>
              <a class="dropdown-item" (click)="duplicateTask(task)"
                >Duplicate</a
              >
            </li>
            <li>
              <a class="dropdown-item" (click)="closeTask(task)">Close Task</a>
            </li>
          </ul>
        </div>
      </td>
    </tr>
  </tbody>
</table>
